<section class="h-52 bg-gray-300 w-full flex flex-col justify-center items-center">
  <h1 class="font-semibold text-2xl mb-3"><%= gettext("Welcome to Rumbl.io!") %></h1>
  <p>Rumbl out loud.</p>
</section>
