<.header><%= gettext("Login") %></.header>
<.simple_form :let={f} for={} as={:session} phx-validate="validate" action={~p"/sessions"}>
  <.input field={f[:username]} placeholder={gettext("Username")} />
  <.input field={f[:password]} placeholder={gettext("Password")} type="password" />
  <:actions>
    <.button><%= gettext("Login") %></.button>
  </:actions>
</.simple_form>
